<template>
  <v-data-table
    :headers="headers"
    :items="items"
    item-key="id"
    :search="search"
    :loading="loading"
    disable-pagination
    hide-default-footer
  >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Ghibli Films</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          label="Search"
          clearable
          single-line
          hide-details
        ></v-text-field>
      </v-toolbar>
    </template>
  </v-data-table>
</template>

<script>
import axios from 'axios';

export default {
  data () {
    return {
      headers: [
        { text: 'Title', value: 'title', align: 'left' },
        { text: 'Producer', value: 'producer', align: 'left' },
        { text: 'Director', value: 'director', align: 'left' },
        { text: 'Year', value: 'release_date' },
        { text: 'Score', value: 'rt_score' }
      ],
      items: [],
      loading: true,
      search: '',
    };
  },
  created () {
    this.fetch();
  },
  methods: {
    async fetch () {
      this.loading = true;
      this.items = (await axios.get('https://ghibliapi.herokuapp.com/films')).data;
      this.loading = false;
    }
  }
};
</script>
